.home-page{

    #carouselExampleIndicators{
        .carousel-item{
            img{
                width:100%;
                height:568px;
                object-fit: cover;
                object-position: center;
            }
            
        }
    }
    .owl-carousel {
        .owl-stage{
            .owl-item{
                .card{
                    width:350px;
                    border-radius: 0px;
                    margin-bottom: 10px;
                    transition: all 0.3s ease-in-out;
                    .card-title{
                        margin: 10px 0;
                        font-family: NotoSerif;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 1.88;
                        letter-spacing: 0.3px;
                        color: #4a4a4a;
                    }
                    &:hover{
                        box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.17);
                        border: solid 1px #f7f7f7;
                        transition: all 0.3s ease-in-out;
                    }
                    .btn{
                        padding: 3px 20px;
                        border: solid 1px #d89e6d;
                        border-radius: 0px;
                        font-family: NotoSerif;
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 2.14;
                        letter-spacing: 0.3px;
                        color: #d89e6d;
                    }
                }
            }
        }
    }
}