.booknow{
    display: inline-block;
    .form-group{
        padding: 0 10px;
    }
    .form-control{
        padding: 10px 20px;
    }
    .modal {
        font-size: 12px;
        display: block;
        position: relative;
        overflow:visible;
      }
      .modal > .header {
        width: 100%;
        border-bottom: 1px solid gray;
        font-size: 18px;
        text-align: center;
        padding: 5px;
      }
      .modal > .content {
        width: 100%;
        padding: 10px 5px;
        background: #fff;
      }
      .modal > .actions {
        width: 100%;
        padding: 10px 5px;
        margin: auto;
        text-align: center;
      }
      .modal > .close {
        cursor: pointer;
        position: absolute;
        display: block;
        padding: 2px 5px;
        line-height: 20px;
        right: -10px;
        top: -10px;
        font-size: 24px;
        background: #ffffff;
        border-radius: 18px;
        border: 1px solid #cfcece;
        opacity: 1;
        color: #000;
      }
}