.footer{
    background: #000;
    padding: 70px 0;
    .btn{
        color: #fff;
    }

    #inputemail{
        background: #3b3b3b;
        border-radius: 0px;
        border: none;
        color: #fff;
    }
    ::placeholder
    {
        color: #fff;
    }
    h3{
        min-height: 50px;
  font-family: NotoSerif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #ffffff;
    }
    p{
        color: #fff;
    }
    ul{
        padding-left: 20px;
        li{
            font-family: NotoSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.6px;
color: #fff;
        }
    }

    .map{
        iframe{
            width: 100%;
            border: 0;
        }
    }
}