// @import 'css/line-icons.css';
// @import 'css/owl.carousel.css';
// @import 'css/owl.theme.css';
// @import 'css/nivo-lightbox.css';
// @import 'css/magnific-popup.css';
// @import 'css/animate.css';
// @import 'css/color-switcher.css';
// @import 'css/menu_sideslide.css';
// @import 'css/main.css';
// @import 'css/responsive.css';
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
.clearboth{
  clear: both;
}
.hide{
  display: none;  
}
// .btn{
//   padding: 3px 20px;
//   border: solid 1px #d89e6d;
//   border-radius: 0px;
//   font-family: NotoSerif;
//   font-size: 14px;
//   font-weight: normal;
//   line-height: 2.14;
//   letter-spacing: 0.3px;
//  background: transparent;
// }
h2{
  font-family: NotoSerif;
  font-size: 37px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #4a4a4a;
  margin-bottom: 30px;
}
p{
  font-family: NotoSans;
  font-size: 14px;
  font-weight: normal;  
  line-height: 1.86;
  letter-spacing: 0.6px;
  color: #4a4a4a;
}
.section-1{
  padding-top: 30px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* grid structure*/
.grid-content{
  padding-left: 10px;
  padding-right: 10px;
}
.grid {
  position: relative;
  margin: 0 auto;
  //padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
  height: 100%;
  padding-bottom: 15px;
  figure {
    position: relative;
    //float: left;
    overflow: hidden;
    //margin: 10px 1%;
    //min-width: 320px;
    max-width: 480px;
    max-height: 360px;
   // width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    height: 100%;
    img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      //opacity: 0.8;
    }
    figcaption {
      //padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      &::before, &::after {
        pointer-events: none;
      }
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }

      h2{
        font-size: 20px;
        color: #fff;
        text-transform: capitalize;
      }
    }
    h2 {
      word-spacing: -0.15em;
      font-weight: 300;
      span {
        font-weight: 800;
      }
      margin: 0;
    }
    p {
      margin: 0;
      letter-spacing: 1px;
      font-size: 68.5%;
    }
  }
}

/* Common style */

#about-us .section-header .section-title:before{
  left: 0;
  right: 0;
  margin: auto;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */

figure.effect-lily {
  img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
   // opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
  }
  figcaption {
    text-align: left;
    > div {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px;
      width: 100%;
     // height: 50%;
     background: rgba(0,0,0,0.4);
    }
  }
  h2, p {
    //-webkit-transform: translate3d(0, 40px, 0);
    //transform: translate3d(0, 40px, 0);
  }
  h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
  }
  p {
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
  }
  &:hover {
    img, p {
      opacity: 1;
    }
    img, h2 {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    p {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
      -webkit-transition-duration: 0.35s;
      transition-duration: 0.35s;
    }
  }
}
.navbar-expand-md .navbar-nav .nav-item button {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  padding: 12px 32px;
  border-radius: 27px;
  border: none;
  color: #FFFFFF !important;
  cursor: pointer;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  //padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
.nav-item{
  .booknow {
    display: inline-block;
    margin-left: 30PX;
}
}
#google-map-area object{
  border:0;
   height: 450px; 
   width: 100%;
}


@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

.footer-Content{
  .block-title{
    padding: 30px 0 30px 0; 
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;

  }
  .footer-logo{
    display: block;
    margin-bottom: 10px;
    img{
      width:230px;
    }
  }
  .contact-footer{
    strong{
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;
      float: none;
      color: #e84324;
    }
    span{
      float: none;
      margin-left: 0;
    }
  }

}
#contactForm{
  .form-control{
    background: #fff6ee;
    border-radius: 15px;
    border-color: #fff6ee;
  }
  select.form-control{
    height: auto;
  }
}
#carousel-area .carousel-item img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: center;
}
@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
  }
  .popup-content {
    width: 80%;
    overflow:scroll;
  }
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
  }
  .navbar-brand img {
    max-width: 180px;
}
.navbar-expand-md{
  .navbar-brand{
    margin: 12px 6px;
  }
  .navbar-toggler{
    margin: 12px 6px;
    padding: 2px 6px;
  }
  .logo2{
    img{
      width: 40px;
    }    
  }
  .logo3{
    img{
      width: 70px;
    }    
  }
} 
}

@media (min-width: 768px){
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; 
}
/*end grid*/
}

